@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Montserrat sans-serif;
  background: #DAF9B2;
  margin: 0 auto;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    align-items: center;
  }
}

.header {
  background: #DAF9B2;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 0 16px;
}

.header--fixed {
  position: fixed;
}

.header--top {
  top: 0;
  left: 0;
  right: 0;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__img {
  margin-right: 12px;
}

.header__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 143%;
  color: #111827;
}

.header__navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__navigation {
    display: flex;
  }
}

.navigation__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: #111827;
  position: relative;
}

.navigation__link--mr {
  margin-right: 40px;
}

.navigation__link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  left: 0;
  bottom: -8px;
  background-color: #FE993F;
  transform-origin: right;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.navigation__link:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation__link:hover {
  color: #FE993F;
}

.menu {
  position: relative;
}

.menu__card {
  pointer-events: none;
}

.menu__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.menu__checkbox:checked ~ .menu__wrapper {
  transform: translateX(0);
}
.menu__checkbox:checked ~ .burger .burger__item {
  transform: rotate(90deg) translate(0px, 0px);
}
.menu__checkbox:checked ~ .burger::after {
  transform: rotate(90deg) translate(-6px, 10px);
}
.menu__checkbox:checked ~ .burger::before {
  transform: rotate(90deg) translate(6px, -10px);
}

.burger {
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 14px;
}


.burger__item {
  display: block;
  height: 2px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  transition: transform 1s ease;
  pointer-events: auto;
}

.burger::after,
.burger::before {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  transition: transform 1s ease;
}


.menu__wrapper {
  transform: translateX(100vw);
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 120px;
  transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  pointer-events: none;
  background-color: #DAF9B2;
}


.card {
  background-color: #fff;
  margin: 27px;
  flex-grow: 1;
  padding-top: 22px;
  border-radius: 16px;
  padding-left: 32px;
  padding-right: 22px;
  display: flex;
  flex-direction: column;
}

.menu__item--mb {
  margin-bottom: 8px;
}

.main {
  margin-top: 90px;
}

.main__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 145%;
  letter-spacing: -0.015em;
  color: #000000;
  margin-bottom: 24px;
}
.main__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 165%;
  color: #000000;
  margin-bottom: 48px;
  padding-right: 20px;
}

.button {
  height: 56px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  background-color: #000000;
  padding: 0 24px;
  border-radius: 8px;
  transition: all 0.2s ease;
  cursor: pointer;
  border: none;
}

.button:hover {
  color:#FE993F;
}

.button:active {
  box-shadow: 0 0 0 1px #FE993F;
}

.link {
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #000000;
  cursor: pointer;
  transition: all 0.2s ease;
  pointer-events: auto;
  font-family: Montserrat;
}

.link:hover {
  color: #FE993F;
}


.footer {
  background: black;
  z-index: 10;
}

.footer__text {
  padding: 60px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  color: #D1D5DB;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 1222px;
    width: 100%;
    margin: 0 auto;
  }

  .menu {
    display: none;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 648px;
    margin: auto;
  }

  .main__subtitle {
    padding: 0;
    font-size: 16px;
    line-height: 175%;
    padding: 0 40px;
  }


  .footer__container {
    max-width: 1222px;
    width: 100%;
    margin: 0 auto;
  }

  .footer__text {
    font-size: 14px;
  }

  .main__title {
    font-size: 58px;
    padding: 0 15px;
    padding: 0 15px;
 }
}
